$text-gray: #838383;
$form-border: 1px solid #e8e8e8;
$form-boxshadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
$red-light: #ff7e8b;
$red-dark: #e03546;
$gray-hover: #f2f2f2;
$btn-blue: #3333ff;
$btn-disabled: #f2f2f2;
$filter-border: 1px solid #cfcfcf;
$filter-boxshadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
$white: #ffffff;
$bg-gray: #f8f8f8;
$card-gray: #e8e8e8;
$hover-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
$black: #000;
$hover-gray: #f2f2f2;
$overlay: rgba(0, 0, 0, 0.4);
