@import "../../../styles/variables";

.searchItem {
  &-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 4px;
    & > img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    & > p {
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      color: $black;
    }
    &:hover {
      background-color: $hover-gray;
    }
  }
}
