@import "../../styles/variables";

.addItem {
  width: 300px;
  margin: auto;
  padding: 20px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: $form-boxshadow;
  border-radius: 8px;

  & input,
  select {
    width: 200px;
    height: 24px;
    outline: none;
    font-family: inherit;
    padding: 0 5px;
    border: $form-border;
    box-shadow: $form-boxshadow;
  }

  & select {
    margin-left: 34px;
    color: $text-gray;
  }

  & p {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
  }

  &-title {
    display: flex;
    gap: 10px;
  }

  &-brand {
    display: flex;
    gap: 10px;
  }

  &-price {
    display: flex;
    gap: 10px;
  }

  &-rate {
    display: flex;
    gap: 10px;
  }

  &-count {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
  }

  &-save {
    & > button {
      width: auto;
      height: 36px;
      border-radius: 4px;
      font-weight: 600;
      padding: 0 24px;
      background-color: $btn-blue;
      color: #fff;

      &:disabled {
        background-color: $btn-disabled;
        cursor: not-allowed;
      }
    }
  }

  .uploaded {
    width: 200px;
    min-height: 50px;
    display: flex;
    justify-content: center;

    & > img {
      width: 200px;
      height: 100px;
      object-fit: cover;
    }
    & > button {
      background-color: transparent;
    }
  }
}
